<configuration status="WARN" scan="true" scanPeriod="30 seconds">
    <!--
       LOGGING PATTERN :
       DEFAULT_MICROS -> Time stamp in microseconds.
       t -> Thread name
       T -> Thread Id
       level -> Logging level
       logger{36} -> Logging class
       msg -> Message logged
    -->
    <property name="LOG_PATTERN" value="%d{DEFAULT_MICROS} [%t] [%T] %-5level ${hostName} %logger{36} - %msg%n%throwable{full}" />
    <property name="LOG_FILE_MAX_SIZE" value="10GB" />
    <property name="COMPRESSED_LOG_FILE_MAX_AGE" value="P60D" />

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/current.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/backed-up-logs/mp-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy" />
        <deleteOlderOnRolling>true</deleteOlderOnRolling>
        <maxHistory>30</maxHistory>
    </appender>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender" />
    </root>
</configuration>
